*{
    margin: 0;
    padding:0 ;
}

.content {
    background-color: lightblue;
    width: 300px;
    margin:10px ;
    padding:30px ;
    border:1px solid white;
    border-radius: 10px;

}

h3 {
    background-color: cyan;
    padding:5px ;   
}

form{
    padding:10px ;
    background-color:whitesmoke;
}
form input {
    padding:3px ;
    margin-right: 5px;
}
form button {
    padding:3px ;
    color:cyan ;
    background-color: black;
    border-radius: 10px;
}